.input-field {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}
.input-field label {
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.input-field input,
.input-field select {
  padding: 0.5rem;
}
.input-field input:focus {
  outline: none;
}
.input-field-blank {
  min-height: 5.3rem;
}
.input-field-danger input {
  border: 2px solid #ef4444;
}
.input-field-danger span {
  color: #ef4444;
  font-weight: bold;
}
