.input-field-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}
.input-field-label {
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.input-field {
  padding: 0.5rem;
}
.input-field:focus {
  outline: none;
}
.input-field-blank {
  height: 4.3rem;
}
.input-field-danger {
  border: 2px solid #ef4444;
}
.input-span-danger {
  color: #ef4444;
  font-weight: bold;
}
