.table-box {
  padding-left: 2rem;
  margin-right: 1rem;
  overflow-y: scroll;
  min-height: 42rem;
  max-height: calc(100vh - 13rem);
}
table {
  border-spacing: 0;
  width: 100%;
}
thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
tr {
  position: relative;
}
th {
  border: 1px solid hsl(143, 100%, 20%);
  border-right: none;
  padding: 0.5rem;
  background-color: hsl(143, 100%, 20%);
  color: white;
  min-width: 8.5rem;
}
th:last-child {
  border-right: 1px solid hsl(143, 100%, 20%);
}

@media (max-width: 105rem) {
  .table-box {
    min-height: 20rem;
    max-height: calc(100vh - 35rem);
  }
}
