* {
  margin: 0;
  padding: 0;
}
.App {
  min-width: 76rem;
}
main {
  display: flex;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.input-field {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}
.input-field label {
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.input-field input,
.input-field select {
  padding: 0.5rem;
}
.input-field input:focus {
  outline: none;
}
.input-field-blank {
  min-height: 5.4rem;
}
.input-field-danger input {
  border: 2px solid #ef4444;
}
.input-field-danger span {
  color: #ef4444;
  font-weight: bold;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5.4rem;
}
.button-container button {
  padding: 0.5rem 0;
  border-radius: 0.3rem;
  border: 1px solid black;
  width: 6rem;
  cursor: pointer;
}
.button-container button:hover {
  background-color: hsl(143, 100%, 90%);
}
.data-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 105rem) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .input-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
